@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-12">
        <h3>SOS in your area.</h3>
        <div>
            <ul>
                <li><a href="">Please help!</a></li>
                <li><a href="#">Please help!</a></li>
                <li><a href="#">Please help!</a></li>
                <li><a href="#">Please help!</a></li>
                <li><a href="#">Please help!</a></li>
            </ul>
            <div class="text-right">
                <a>More!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#update" aria-controls="update" role="tab" data-toggle="tab">Update</a></li>
                <li role="presentation"><a href="#followed" aria-controls="followed" role="tab" data-toggle="tab">Forum Followed</a></li>
                <li role="presentation"><a href="#adoption" aria-controls="adoption" role="tab" data-toggle="tab">My Adoption</a></li>
                <li role="presentation"><a href="#lostAndFound" aria-controls="lostAndFound" role="tab" data-toggle="tab">Lost & Found</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="update">
                    <div>
                        <h3>Lost Cat</h3>
                        <ul class="bxslider">
                            <li>
                                <img height="150" width="150" src="/images/pic1.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic2.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic3.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic4.jpg" style="display: inline-block" />
                            </li>
                            <li>
                                <img height="150" width="150" src="/images/pic5.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic6.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic7.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic8.jpg" style="display: inline-block" />
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>Find Owner</h3>
                        <ul class="bxslider">
                            <li>
                                <img height="150" width="150" src="/images/pic1.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic2.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic3.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic4.jpg" style="display: inline-block" />
                            </li>
                            <li>
                                <img height="150" width="150" src="/images/pic5.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic6.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic7.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic8.jpg" style="display: inline-block" />
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>SOS</h3>
                        <ul class="bxslider">
                            <li>
                                <img height="150" width="150" src="/images/pic1.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic2.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic3.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic4.jpg" style="display: inline-block" />
                            </li>
                            <li>
                                <img height="150" width="150" src="/images/pic5.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic6.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic7.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic8.jpg" style="display: inline-block" />
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>Adoption</h3>
                        <ul class="bxslider">
                            <li>
                                <img height="150" width="150" src="/images/pic1.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic2.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic3.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic4.jpg" style="display: inline-block" />
                            </li>
                            <li>
                                <img height="150" width="150" src="/images/pic5.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic6.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic7.jpg" style="display: inline-block" />
                                <img height="150" width="150" src="/images/pic8.jpg" style="display: inline-block" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="followed">
                    <div class="row">
                        <div class="col-sm-3"><img height="150" width="150" /></div>
                        <div class="col-sm-9">
                            <div>Post: </div>
                            <div>Have been updated: </div>
                            <div><a href="#">Check</a></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="adoption">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4"><img width="100" height="100" /></div>
                            <div class="col-sm-8">
                                <div>Name: </div>
                                <div>Contact: </div>
                                <div><a href="#">Accecpt</a> | <a href="#">Reject</a></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4"><img width="100" height="100" /></div>
                            <div class="col-sm-8">
                                <div>Name: </div>
                                <div>Contact: </div>
                                <div>Message: </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="lostAndFound">
                    <div class="row">
                        <div class="col-sm-3"><img height="150" width="150" /></div>
                        <div class="col-sm-9">
                            <div>Description: </div>
                            <div>Address: </div>
                            <div>Contact: </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>